<div class="menu-component">
  <span class="g-menu-icon" (click)="toggleMenu()">
    <img src="../../../../assets/Images/menu.png" alt="" />
  </span>

  <ul class="menu-items">
    <li [routerLink]="['/']" routerLinkActive="router-link-active">
      <span class="circle"></span>{{ "MENU.HOME" | translate }}
    </li>
    <li [routerLink]="['/riddles']" routerLinkActive="router-link-active">
      <span class="circle"></span>{{ "MENU.RIDDLES" | translate }}
    </li>
    <li [routerLink]="['/people']" routerLinkActive="router-link-active">
      <span class="circle"></span>{{ "MENU.PEOPLE" | translate }}
    </li>
    <li [routerLink]="['/about']" routerLinkActive="router-link-active">
      <span class="circle"></span>{{ "MENU.ABOUT_US" | translate }}
    </li>
    <li class="language-switcher">
      <app-language-switcher> </app-language-switcher>
    </li>

    <li
      class="sign-out"
      tooltip="{{ 'MENU.SIGN_OUT' | translate }}"
      placement="right"
      displayTouchscreen="true"
      show-delay="200"
    >
      <img src="../../../../assets/Images/logout.svg" />
    </li>
  </ul>
</div>
