<div class="people-details-component">
  <div class="title-box">
    <h2 class="g-subtitle title">
      {{ "PEOPLE.SULKHAN_SABA.NAME" | translate }}
    </h2>
    <div class="title-background"></div>
  </div>

  <h4 class="g-subtitle">{{ "PEOPLE.SULKHAN_SABA.QUOTE" | translate }}</h4>
  <p>
    {{ "PEOPLE.SULKHAN_SABA.PARAGRAPH" | translate }}
  </p>
  <!-- <h4 class="g-subtitle">დამატებითი ინფორმაცია</h4>
  <ul>
    <li><a>https://www.youtube.com/</a></li>
    <li><a>https://www.youtube.com/</a></li>
    <li><a>https://www.youtube.com/</a></li>
  </ul> -->
</div>
