footer {
  width: 100%;
  height: 100%;
  background-color: rgb(42, 42, 42);
  display: flex;
  flex-direction: row;
  position: relative;
  overflow: hidden;
  .logo-copy {
    padding: 20px;
    display: flex;
    flex-direction: column;
    .logo {
      img {
        width: 250px;
        object-position: left;
      }
    }
    .copy {
      color: white;
      padding:0 2rem;
    }
  }
  .puzzle-image {
    top: -6rem;
    left: 60%;
    position: absolute;
    img {
      width: 14rem;
      height:auto;
    }
  }
}
