<div class="dialog">
  <div class="correct container" *ngIf="isAnswerCorrect">
    <div class="close" (click)="close()"></div>
    <div class="heading">
      <div class="icon correct"></div>
      <span>{{ "SHARED.ANSWER_CORRECT" | translate }}</span>
    </div>
  </div>
  <div class="incorrect container" *ngIf="!isAnswerCorrect">
    <div class="close" (click)="close()"></div>
    <div class="heading">
      <div class="icon incorrect"></div>
      <span>{{ "SHARED.ANSWER_INCORRECT" | translate }}</span>
    </div>
  </div>
</div>
