<div class="kakabadze-component">
  <h2 class="g-title">
    <span class="primary-color">{{ "RIDDLES.FIRST" | translate }}</span>
    {{ "RIDDLES.QUESTION" | translate }}
  </h2>
  <div class="objects">
    <div class="object square">
      1
    </div>
    <div class="object painting">
    </div>
    <div class="object hexagon">
      34
    </div>
    <div class="object question-mark">
      ?
    </div>
  </div>
  <div class="options">
    <div class="row">
      <div class="object hexagon transparent">
      </div>
      <div class="object triangle">
      </div>
      <div class="object square transparent">
      </div>
    </div>
    <div class="row">
      <div class="object">
        55
      </div>
      <div class="object">
        87
      </div>
      <div class="object">
        34
      </div>
    </div>
    <div class="row">
      <div class="object backgroundYellow">
      </div>
      <div class="object backgroundPink">
      </div>
      <div class="object backgroundBlue">
      </div>
    </div>
    <div class="row">
      <div class="object transparent colorYellow">
        ?
      </div>
      <div class="object transparent colorPink">
        ?
      </div>
      <div class="object transparent colorBlue">
        ?
      </div>
    </div>
  </div>
  <div class="btns-wrapper">
    <button class="g-custom-btn primary">
      {{"RIDDLES.ANSWER" | translate}}
    </button>
  </div>
</div>
