@import "../../../assets/variables/colors.scss";
.riddles-component {
  .riddles {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    .riddle-card {
      width: 25%;
      flex: auto;
      height: 20em;
      padding: 1em;
      position: relative;
      cursor: pointer;
      .question-mark {
        z-index: 3;
        font-size: 1.5em;
        width: 50px;
        height: 50px;
        border-radius: 100%;
        background-color: $primary;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $secondary;
        font-weight: 500;
        top: 0;
        left: 0;
      }
    }
  }
  @media only screen and (max-width: 850px) {
    .riddles {
      flex-direction: column;
      align-items: center;
      .riddle-card{
          width: 100%;
      }
    }
  }
}


