<div class="riddles-component">
  <h2 class="g-title">ამოცანები</h2>

  <div class="riddles">

    <!-- (click)="navigateToMap('https://goo.gl/maps/JuwFSuyHv4S9axp36')" -->
    <div class="riddle-card" [routerLink]="['/riddles/dmxqRsxlf87Sgelash5']">
      <div class="question-mark">?</div>
      <div class="check-mark" *ngIf="false"></div>
      <app-people-card
        image="../../../assets/Images/street.png"
        text="{{'RIDDLES.STREET_ADDRESS_NIKO'|translate}}"
      >
      </app-people-card>
    </div>

    <!-- (click)="navigateToMap('https://goo.gl/maps/hN3HfDokhEhm3Ppx7')" -->
    <div class="riddle-card" [routerLink]="['/riddles/1smxVslZghiwqlsdmxz']">
      <div class="question-mark">?</div>
      <div class="check-mark" *ngIf="false"></div>
      <app-people-card
        image="../../../assets/Images/street.png"
        text="{{'RIDDLES.STREET_ADDRESS_SULKHAN_SABA_MACHABELI'|translate}}"
      >
      </app-people-card>
    </div>

    <!-- (click)="navigateToMap('https://goo.gl/maps/dBeisVa1SGzXiXbN7')" -->
    <div class="riddle-card" [routerLink]="['/riddles/dxoqwjnJgiko9szxz22']" >
      <div class="question-mark">?</div>
      <div class="check-mark" *ngIf="false"></div>
      <app-people-card
        image="../../../assets/Images/street.png"
        text="{{'RIDDLES.STREET_ADDRESS_KAKABADZE'|translate}}"
      >
      </app-people-card>
    </div>

    <!-- (click)="navigateToMap('https://goo.gl/maps/GfywddoeHX7umEW49')" -->
    <div class="riddle-card"  [routerLink]="['/riddles/XkZKuxiXbn1245684zv']" >
      <div class="question-mark">?</div>
      <div class="check-mark" *ngIf="false"></div>
      <app-people-card
        image="../../../assets/Images/street.png"
        text="{{'RIDDLES.STREET_ADDRESS_BARATAIA'|translate}}"
      >
      </app-people-card>
    </div>

    <!-- (click)="navigateToMap('https://goo.gl/maps/JuwFSuyHv4S9axp36')" -->
    <div class="riddle-card round" [routerLink]="['/riddles/xmxzGisKNBz25q6z30x']">
      <div class="question-mark">?</div>
      <div class="check-mark" *ngIf="false"></div>
      <app-people-card
        image="../../../assets/Images/street.png"
        text="{{'RIDDLES.STREET_ADDRESS_MAZNIASHVILI'|translate}}"
      >
      </app-people-card>
    </div>

  </div>
</div>
