@import "../../../../assets/variables/colors.scss";
.nikoladze-riddle-component {
  .primary-color {
    color: $primary;
  }
  .g-title{
    display:flex;
    justify-content: center;
    align-items: center;
  }
  .braille-image-holder{
    margin-left:1rem;
    img{
      height: 3rem;
      width: auto;
    }
  }
  .inputs-wrapper {
    display: flex;
    justify-content: center;
    .g-custom-input {
      margin:0 1rem;
      input {
        font-size: 1.2rem;
        width: 3rem;
        height: 3rem;
        font-weight: 900;
        border: none;
        border-radius: 0;
        border-bottom: 2px solid $secondary;
        text-align: center;
      }
    }
  }
  .btns-wrapper {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    .g-custom-btn {
      font-size: 1.2rem;
      background-color: $primary;
      width: 12rem;
      height: 3rem;
    }
  }
}
