<div class="about-component">
  <div class="about-us">
    <h4 class="g-subtitle">{{ "ABOUT_US.TITLE" | translate }}</h4>
    <div class="text">
      <p>
        {{ "ABOUT_US.ABOUT_PROJECT" | translate }}
        <a href="http://chiefprojecteu.com/" target="_blank">{{
          "ABOUT_US.HERE_LINK" | translate
        }}</a>
      </p>
    </div>
  </div>

  <div class="team">
    <h4 class="g-subtitle">{{ "ABOUT_US.MEMBERS_TITLE" | translate }}</h4>

    <div class="members">
      <ul class="artist-members">
        <li>
          {{ "ABOUT_US.SANDRO_PACHUASHVILI" | translate }} -<span
            class="artist-member"
          >
            {{ "ABOUT_US.PAINTER" | translate }} ({{
              "ABOUT_US.RAMZE_BARATAIA_NIKO_NIKOLADZE" | translate
            }})</span
          >
        </li>
        <li>
          {{ "ABOUT_US.ANDRO_GURULI" | translate }} -<span
            class="artist-member"
          >
            {{ "ABOUT_US.PAINTER" | translate }}({{
              "ABOUT_US.IVANE_MACHABELI_SULKHAN_SABA" | translate
            }})</span
          >
        </li>
        <li>
          {{ "ABOUT_US.ILIA_DZADZAMIA" | translate }} -<span
            class="artist-member"
          >
            {{ "ABOUT_US.PAINTER" | translate }}({{
              "ABOUT_US.GIORGI_MAZNIASHVILI" | translate
            }})</span
          >
        </li>
        <li>
          {{ "ABOUT_US.GENA_TUSHISHVILI" | translate }} -<span
            class="artist-member"
          >
            {{ "ABOUT_US.PAINTER" | translate }}({{
              "ABOUT_US.DAVID_KAKABADZE" | translate
            }})</span
          >
        </li>
      </ul>
      <ul class="tsibakha-members">
        <li>
          {{ "ABOUT_US.LEVAN_KUKHALEISHVILI" | translate }} -
          <span class="tsibakha-member">
            {{ "ABOUT_US.GAME_DESIGNER" | translate }}</span
          >
        </li>
        <li>
          {{ "ABOUT_US.LEVAN_GELASHVILI" | translate }} -
          <span class="tsibakha-member">
            {{ "ABOUT_US.GAME_DESIGNER" | translate }}</span
          >
        </li>
        <li>
          {{ "ABOUT_US.GIKO_MEGRELISHVILI" | translate }} -
          <span class="tsibakha-member">
            {{ "ABOUT_US.GAME_DESIGNER_FRONT_END_DEVELOPER" | translate }}</span
          >
        </li>
        <li>
          <a href="https://www.lts.codes/" target="_blank">
            {{ "ABOUT_US.LEVAN_TSUTSKIRIDZE" | translate }} -
            <span class="tsibakha-member">
              {{ "ABOUT_US.BACK_END_DEVELOPER" | translate }}</span
            >
          </a>
        </li>
      </ul>
    </div>

    <h4 class="g-subtitle">{{ "ABOUT_US.PARTNERS" | translate }}</h4>
    <div class="partners">
      <div class="partner-names">
        <ul>
          <li>
            <span>
              <a href="https://www.facebook.com/TsibakhaGameClub/" target="_blank">{{ "ABOUT_US.TSIBAKHA_LINK" | translate }}</a>
              {{ "ABOUT_US.STREET_ARTISTS" | translate }}</span
            >
          </li>
          <li>
            <span>
              <a href="https://crrc.ge/en/" target="_blank">{{ "ABOUT_US.CRCC_LINK" | translate }}</a
              >{{ "ABOUT_US.CRCC" | translate }}
            </span>
          </li>
          <li>
            <span>
              {{ "ABOUT_US.FINANCED" | translate }}
              <a href="http://chiefprojecteu.com/" target="_blank">{{ "ABOUT_US.CHIEF_LINK" | translate }}</a>
            </span>
          </li>
          <li>
            <span> {{ "ABOUT_US.FINANCED_INFO" | translate }}</span>
          </li>
        </ul>
      </div>

      <div class="partner-images">
        <div class="puzzle">
          <div>
            <div class="puzzle-piece piece-1">
              <div class="image">
                <img src="../../../assets/Images/piece-1a.png" />
              </div>
            </div>
            <div class="puzzle-piece piece-2">
              <div class="image">
                <img src="../../../assets/Images/piece-2a.png" />
              </div>
            </div>
          </div>

          <div>
            <div class="puzzle-piece piece-3">
              <div class="image">
                <img src="../../../assets/Images/piece-3a.png" />
              </div>
            </div>
            <div class="puzzle-piece piece-4">
              <div class="image">
                <img src="../../../assets/Images/piece-4a.png" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
