<div class="tutorial-component">
  <h2 class="g-title">
    {{ "TUTORIAL.TITLE" | translate }}
  </h2>
  <div class="game-info">
    <p>
      {{ "TUTORIAL.GAME_INFO" | translate }}
    </p>
  </div>
  <div class="game-instruction">
    <h2 class="g-title">{{"TUTORIAL.GAME_INSTRUCTION_TITLE"|translate}}</h2>
    <div class="instruction-box">
      <p>{{"TUTORIAL.GAME_INSTRUCTION_STEP_1"|translate}}</p>
      <img src="../../../assets/Images/mobile_qr.png">
      <div class="step">1</div>
    </div>
    <div class="instruction-box">
      <p>{{"TUTORIAL.GAME_INSTRUCTION_STEP_2"|translate}}</p>
      <img src="../../../assets/Images/answer.png">
      <div class="step">2</div>
    </div>
    <div class="instruction-box">
      <p>{{"TUTORIAL.GAME_INSTRUCTION_STEP_3"|translate}}</p>
      <img src="../../../assets/Images/answer.png">
      <div class="step">3</div>
    </div>
    <div class="instruction-box">
      <p>{{"TUTORIAL.GAME_INSTRUCTION_STEP_4"|translate}}</p>
      <img src="../../../assets/Images/star.png">
      <div class="step">4</div>
    </div>
  </div>
</div>
