<div class="people-component">
  <h2 class="g-title">{{ "PEOPLE.TITLE" | translate }}</h2>

  <div class="people-card-box" *ngFor="let person of personList">
    <div class="card">
      <app-people-card
        text="PEOPLE.{{ person.person }}.NAME"
        image="../../../assets/Images/{{ person.imageSrc }}"
      >
      </app-people-card>
    </div>
    <div class="people-info">
      <h4 class="g-subtitle">
        {{ "PEOPLE." + person.person + ".PROFFESION" | translate }}
      </h4>
      <p class="text">
        {{ "PEOPLE." + person.person + ".DESCRIPTION" | translate }}
      </p>
      <a [routerLink]="['/people/' + person.readMoreLink]">{{
        "PEOPLE.READ_MORE" | translate
      }}</a>
    </div>
  </div>
</div>
