<div class="people-component">
  <h2 class="g-title">{{"PEOPLE.TITLE"|translate}}</h2>
  <div class="people-card-box">
    <div class="card">
      <app-people-card
        image="../../../assets/Images/დავით კაკაბაძე.jpg"
        text="{{'SHARED.DAVID_KAKABADZE'|translate}}"
      >
      </app-people-card>
    </div>

    <div class="people-info">
      <h4 class="title-2">{{"PEOPLE.DAVID_KAKABADZE.PROFFESION"|translate}}</h4>
      <p class="text">
        {{"PEOPLE.DAVID_KAKABADZE.DESCRIPTION"|translate}}
      </p>
      <a>{{"PEOPLE.READ_MORE"|translate}}</a>
    </div>
  </div>
  <div class="people-card-box">
    <div class="card">
      <app-people-card
        image="../../../assets/Images/გიორგი მაზნიაშვილი.jpg"
        text="{{'SHARED.GIORGI_MAZNIASHVILI'|translate}}"
      >
      </app-people-card>
    </div>

    <div class="people-info">
      <h4 class="title-2">{{"PEOPLE.GIORGI_MAZNIASHVILI.PROFFESION"|translate}}</h4>
      <p class="text">
        {{"PEOPLE.GIORGI_MAZNIASHVILI.DESCRIPTION"|translate}}
      </p>
      <a>{{"PEOPLE.READ_MORE"|translate}}</a>
    </div>
  </div>
  <div class="people-card-box">
    <div class="card">
      <app-people-card
        image="../../../assets/Images/რამზე ბარათაია 2.jpg"
        text="{{'SHARED.RAMZE_BARATAIA'|translate}}"
      >
      </app-people-card>
    </div>

    <div class="people-info">
      <h4 class="title-2">{{"PEOPLE.RAMZE_BARATAIA.PROFFESION"|translate}}</h4>
      <p class="text">
        {{"PEOPLE.RAMZE_BARATAIA.DESCRIPTION"|translate}}

      </p>
      <a>{{"PEOPLE.READ_MORE"|translate}}</a>
    </div>
  </div>
  <div class="people-card-box">
    <div class="card">
      <app-people-card
        image="../../../assets/Images/ნიკო ნიკოლაძე.jpg"
        text="{{'SHARED.NIKO_NIKOLADZE'|translate}}"
      >
      </app-people-card>
    </div>

    <div class="people-info">
      <h4 class="title-2">{{"PEOPLE.NIKO_NIKOLADZE.PROFFESION"|translate}}</h4>
      <p class="text">
        {{"PEOPLE.NIKO_NIKOLADZE.DESCRIPTION"|translate}}
      </p>
      <a>{{"PEOPLE.READ_MORE"|translate}}</a>
    </div>
  </div>
  <div class="people-card-box">
    <div class="card">
      <app-people-card
        image="../../../assets/Images/სულხან-საბა_ორბელიანი.jpg"
        text="{{'SHARED.SULKHAN_SABA'|translate}}"
      >
      </app-people-card>
    </div>

    <div class="people-info">
      <h4 class="title-2">{{"PEOPLE.SULKHAN_SABA.PROFFESION"|translate}}</h4>
      <p class="text">
        {{"PEOPLE.SULKHAN_SABA.DESCRIPTION"|translate}}
      </p>
      <a>{{"PEOPLE.READ_MORE"|translate}}</a>
    </div>
  </div>
  <div class="people-card-box">
    <div class="card">
      <app-people-card
        image="../../../assets/Images/ივანე მაჩაბელი.jpg"
        text="{{'SHARED.IVANE_MACHABELI'|translate}}"
      >
      </app-people-card>
    </div>

    <div class="people-info">
      <h4 class="title-2">{{"PEOPLE.IVANE_MACHABELI.PROFFESION"|translate}}</h4>
      <p class="text">
        {{"PEOPLE.IVANE_MACHABELI.DESCRIPTION"|translate}}
      </p>
      <a>{{"PEOPLE.READ_MORE"|translate}}</a>
    </div>
  </div>
</div>
