<div class="mazniashvili-riddle-component">
  <h2 class="g-title">
    <span class="primary-color">{{ "RIDDLES.FIRST" | translate }}</span>
    {{ "RIDDLES.QUESTION" | translate }}
  </h2>
  <div class="inputs-wrapper" [formGroup]="form">
    <div class="g-custom-input">
      <input formControlName="firstInput" type="text" />
    </div>
    <div class="g-custom-input">
      <input formControlName="secondInput" type="text" />
    </div>
  </div>
  <div class="btns-wrapper">
    <button
      class="g-loader-btn g-custom-btn primary"
      [ngClass]="{ 'g-disabled': !form.valid }"
      (click)="submitAnswer()"
    >
      <span *ngIf="!answerSubmitLoading">{{
        "RIDDLES.ANSWER" | translate
      }}</span>
      <span *ngIf="answerSubmitLoading" class="g-inline-loader-yellow"> </span>
    </button>
  </div>

  <div class="sea">
    <div class="box-drift">
      <div class="box-bob">
        <div class="box-pitch">
          <div class="left-sail"></div>
          <div class="right-sail"></div>
          <div class="hull"></div>
        </div>
      </div>
    </div>
  </div>
</div>
