<div class="barataia-riddle-component">
  <h2 class="g-title">
    <span class="primary-color">{{ "RIDDLES.FIRST" | translate }}</span>
    {{ "RIDDLES.QUESTION" | translate }}
  </h2>
  <div class="objects">
    <div class="object-1"></div>
    <div class="not-equal">≠</div>
    <div class="object-2"></div>
    <div>.</div>
    <div class="object-3">
    </div>
    <div>?</div>
  </div>
  <div class="inputs-wrapper" [formGroup]="form">
    <div class="g-custom-input">
      <input formControlName="answer" type="text" />
    </div>
  </div>
  <div class="btns-wrapper">
    <button
      class="g-loader-btn g-custom-btn primary"
      [ngClass]="{ 'g-disabled': !form.valid }"
      (click)="submitAnswer()"
    >
      <span *ngIf="!answerSubmitLoading">{{
        "RIDDLES.ANSWER" | translate
      }}</span>
      <span *ngIf="answerSubmitLoading" class="g-inline-loader-yellow"> </span>
    </button>
  </div>

  <!-- <img
    id="rocket"
    (click)="launchRocket()"
    *ngIf="rocketShow"
    class="rocket"
    src="../../../../assets/Images/spaceship.png"
  /> -->
</div>
