@import "../../../../assets/variables/colors.scss";
$mars-color: #934838;
.barataia-riddle-component {
  position: relative;
  .primary-color {
    color: $mars-color;
  }
  .objects{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size:100px;
    .object-1{
      padding:15px;
      background-color:rgb(95, 95, 248);
      border-radius:50%;
    }
    .object-2{
      padding:30px;
      background-color:rgb(240, 216, 77);
      border-radius:50%;
    }
    .object-3{
      padding:30px;
      background-color:$mars-color;
      border-radius:50%;
    }
  }
  .inputs-wrapper {
    display: flex;
    justify-content: center;
    .g-custom-input {
      input {
        font-size: 1.2rem;
        width: 12rem;
        height: 3rem;
        font-weight: 900;
        color: $mars-color;
        border: 2px solid $mars-color;
        text-align: center;
      }
    }
  }
  .btns-wrapper {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    .g-custom-btn {
      font-size: 1.2rem;
      background-color: $mars-color;
      width: 12rem;
      height: 3rem;
    }
  }

  .rocket {
    position: absolute;
    cursor: pointer;
    bottom: -120%;
    left: calc(50% - 14em);
    img{
      width: 14rem;
      height: auto;
    }
  }
  .launch {
    animation: fly 10s ease-in;
  }

  @keyframes fly {
    0% {
      bottom: -120%;
    }
    60% {
      bottom: 250%;
    }
    70% {
      bottom: 250%;
    }
    80% {
      bottom: 250%;
    }
    90% {
      bottom: 250%;
    }
    100% {
      bottom: 250%;
    }
  }
}
