<div class="auth-component">
  
  <div class="language-switcher">
    <app-language-switcher>

    </app-language-switcher>
  </div>

  <form class="auth-form" [formGroup]="form">
    <div class="auth-logo">
      <img src="../../../assets/Images/auth-logo.png" />
    </div>

    <div class="custom-input">
      <label for="username" class="username"
        >{{ "LANDING.AUTHORIZATION.CAPTAIN_MAIL" | translate }}
        <span
          class="auth-error"
          *ngIf="authError"
          tooltip="{{ authError }}"
          placement="top"
          displayTouchscreen="true"
          show-delay="200"
        >
          <img src="../../../assets/Images/information-yellow.svg" />
        </span>
      </label>
      <input type="text" name="username" formControlName="captainMail" />
    </div>

    <div class="custom-input">
      <label for="password">{{
        "LANDING.AUTHORIZATION.PASSWORD" | translate
      }}</label>
      <input type="password" name="password" formControlName="password" />
      <a class="link" href="#">{{
        "LANDING.AUTHORIZATION.FORGOT_PASSWORD" | translate
      }}</a>
    </div>

    <div class="button-wrapper">
      <button class="btn g-loader-btn btn-primary" (click)="login()">
        <span *ngIf="!authLoading">
          {{ "LANDING.AUTHORIZATION.LOGIN_BTN" | translate }}
        </span>
        <span class="g-inline-loader-yellow" *ngIf="authLoading"> </span>
      </button>
    </div>
    <div class="registration-link link">
      {{ "LANDING.AUTHORIZATION.DONT_HAVE_ACCOUNT" | translate }}
      <a [routerLink]="['/registration']" routerLinkActive="router-link-active">
        {{ "LANDING.AUTHORIZATION.REGISTER" | translate }}</a
      >
    </div>
  </form>
</div>
