<div class="about-component">
  <div class="about-us">
    <h2 class="g-title">{{ "ABOUT_US.TITLE" | translate }}</h2>
    <div class="text">
      <p>
        {{ "ABOUT_US.ABOUT_PROJECT" | translate }}
        <a href="http://chiefproject.eu/" target="_blank">{{
          "ABOUT_US.HERE_LINK" | translate
        }}</a>
      </p>
    </div>
  </div>

  <div class="team">
    <h2 class="g-title">{{ "ABOUT_US.MEMBERS_TITLE" | translate }}</h2>

    <div class="members">
      <ul>
        <li>
          {{ "ABOUT_US.SANDRO_PACHUASHVILI" | translate }} -<span
            class="artist-member"
          >
            {{ "ABOUT_US.PAINTER" | translate }} ({{
              "SHARED.RAMZE_BARATAIA" | translate
            }},{{ "SHARED.NIKO_NIKOLADZE" | translate }})</span
          >
        </li>
        <li>
          {{ "ABOUT_US.ANDRO_GURULI" | translate }} -<span
            class="artist-member"
          >
            {{ "ABOUT_US.PAINTER" | translate }}({{
              "SHARED.IVANE_MACHABELI" | translate
            }}/{{ "SHARED.SULKHAN_SABA" | translate }})</span
          >
        </li>
        <li>
          {{ "ABOUT_US.ILIA_DZADZAMIA" | translate }} -<span
            class="artist-member"
          >
            {{ "ABOUT_US.PAINTER" | translate }}({{
              "SHARED.GIORGI_MAZNIASHVILI" | translate
            }})</span
          >
        </li>
        <li>
          {{ "ABOUT_US.GENA_TUSHISHVILI" | translate }} -<span
            class="artist-member"
          >
            {{ "ABOUT_US.PAINTER" | translate }}({{
              "SHARED.DAVID_KAKABADZE" | translate
            }})</span
          >
        </li>
      </ul>
      <ul>
        <li>
          {{ "ABOUT_US.LEVAN_KUKHALEISHVILI" | translate }} -
          <span class="tsibakha-member">
            {{ "ABOUT_US.GAME_DESIGNER" | translate }}</span
          >
        </li>
        <li>
          {{ "ABOUT_US.LEVAN_GELASHVILI" | translate }} -
          <span class="tsibakha-member">
            {{ "ABOUT_US.GAME_DESIGNER" | translate }}</span
          >
        </li>
        <li>
          {{ "ABOUT_US.GIKO_MEGRELISHVILI" | translate }} -
          <span class="tsibakha-member">
            {{ "ABOUT_US.GAME_DESIGNER" | translate }}</span
          >
        </li>
      </ul>
    </div>

    <h2 class="g-title">პარტნიორები</h2>
    <div class="partners">
      
      <div class="partner-names">
        <ol type="1">
          <li>
            <div class="number">1</div>
            <span>ევროკავშირი</span>
          </li>
          <li>
            <div class="number">2</div>
            <span> CRRC საქართველო </span>
          </li>
          <li>
            <div class="number">3</div>
            <span> წიბახა - სამაგიდო თამაშების კლუბი </span>
          </li>
          <li>
            <div class="number">4</div>
            <span> პროგრამა Chief </span>
          </li>
        </ol>
      </div>

      <div class="partner-images">
        <div class="puzzle">
          <div>
            <div class="puzzle-piece piece-1">
              <div class="image">
                <img src="../../../assets/Images/piece-1a.png" />
                <span class="number number-absolute number-1">1</span>
              </div>
            </div>
            <div class="puzzle-piece piece-2">
              <div class="image">
                <img src="../../../assets/Images/piece-2a.png" />
                <span class="number number-absolute number-2">2</span>
              </div>
            </div>
          </div>

          <div>
            <div class="puzzle-piece piece-3">
              <div class="image">
                <img src="../../../assets/Images/piece-3a.png" />
                <span class="number number-absolute number-3">3</span>
              </div>
            </div>
            <div class="puzzle-piece piece-4">
              <div class="image">
                <img src="../../../assets/Images/piece-4a.png" />
                <span class="number number-absolute number-4">4</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="partners">
      <div class="image-box">
        <div class="image">
          <img src="../../../assets/Images/CRCC LOGO.png" />
        </div>

      </div>
      <div class="image-box">
        <div class="image">
          <img src="../../../assets/Images/tsibakha - logo.png" />
        </div>

      </div>
      <div class="image-box">
        <div class="image eu">
          <img src="../../../assets/Images/eu-logo.png" />
        </div>

      </div>
      <div class="image-box">
        <div class="image">
          <img src="../../../assets/../../../assets/Images/chief-logo.png" />
        </div>

      </div>
    </div> -->
  </div>
</div>
