<div class="profile-component">
  <h2 class="g-title">{{ "PROFILE.TITLE" | translate }}</h2>
  <div class="team-info">
    <div class="info-box">
      <div class="icon">
          <img src="../../../assets/Images/group.png">
      </div>
      <div class="info">
        <span class="heading">{{ "PROFILE.TEAM_NAME" | translate }}</span>
        <span class="information">წიბახას გუნდი</span>
      </div>
    </div>
    <div class="info-box">
      <div class="icon">
        <img src="../../../assets/Images/group.png">
      </div>
      <div class="info">
        <span class="heading">{{ "PROFILE.TIME_ELAPSED" | translate }}</span>
        <span class="information">1სთ 23 წუთი</span>
      </div>
    </div>
    <div class="info-box">
      <div class="icon">
        <img src="../../../assets/Images/group.png">
      </div>
      <div class="info">
        <span class="heading">{{ "PROFILE.RIDDLE_GUESSED" | translate }}</span>
        <span class="information">3/5</span>
      </div>
    </div>
    <div class="info-box">
      <div class="icon">
        <img src="../../../assets/Images/group.png">
      </div>
      <div class="info">
        <span class="heading">{{ "PROFILE.RIDDLE_ONGOING" | translate }}</span>
        <span class="information">გიორგი მაზნიაშვილი</span>
      </div>
    </div>
  </div>
</div>
